<div class="home-banner">
  <h1>Movie Lists</h1>
</div>

<div class="container d-flex">
  <h4>My Lists</h4>
  <%= link_to "create list", new_list_path %>
</div>


<div class="container">
  <% @lists.each do |list|  %>
  <div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <%= link_to list_path(list) do  %>
    <div class="card-body">
      <h5 class="card-title"><%= list.name  %></h5>
      <p class="card-text"><small class="text-muted">Last updated <%= list.created_at%></small></p>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
