.navbar {
  justify-content: space-between;
  background-color: green
}

.navbar-movie {
  /* [...] */
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-movie-white {
  background-color: white;
}
